{% extends 'AcmeApp/base.html' %}
{% block content %}


    <p>{{ res }}</p>
<div class="flex-container">
    Create Tickets
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
//     const obj = {
//         "ticket": {
//             "comment": {
//             "body": "The smoke is very colorful."
//             },
//             "priority": "urgent",
//             "subject": "My printer is on fire!"
//         }
//     }
//     const user = 'ajithkx@gmail.com' + '/token'
//     const api_token = 'm2g3C5zbhpfPt5jewEHTQjGKaRF9pnHtuPw10dWK'
//     fetch('https://acmesupportsupport.zendesk.com/api/v2/tickets',{
//         headers:{
//         Authorization: "Basic YWppdGhreEBnbWFpbC5jb206QWppdGhUZWNoQDEy"
//         },
//         method: 'GET', 
//         mode: 'no-cors',
//         auth : [user,api_token]
//     })
//   .then(response => response.json())
// //   .then(data => console.log(data))
//   .catch(e =>console.log(e))
    </script>
{% endblock %}

